@model DemoApp.Models.ViewModels.PropertyRendererModel
@{
    <span class="ledetekst">@Model.GetCaption(true)</span>
    @await Html.PartialAsync($"/Pages/Partial/Beskrivelse.cshtml", @Model.GetDescription())
    <input type="text" class="enlinjetekst dato" placeholder="(dd.mm.yyyy)" />
}
