@using DemoApp.Models
@using DemoApp.Models.ViewModels
@model PropertyRendererModel
@{
    var caption = Model.GetCaption(false);
    var elements = DataFactory.GetXsdChildren(Model.Prop);
    var description = Model.GetDescription();
    bool synligGruppe = !string.IsNullOrEmpty(caption);
    string cssClass = (synligGruppe) ? "synlig_gruppe" : "anonym_gruppe";
    <div class=@cssClass>
        @if (synligGruppe)
        {
            <span class="gruppetekst">@caption</span>
            @await Html.PartialAsync($"/Pages/Partial/Beskrivelse.cshtml", description)
        }
        @foreach (var element in elements)
        {
            <div class="variabel">
            @{
                var elementModel = new PropertyRendererModel(element, null);
                string controlName = DataFactory.GetControlNameForProperty(element);
            }
            @await Html.PartialAsync($"/Pages/Partial/{controlName}.cshtml", elementModel)
            </div>
        }
    </div>
}