@using DemoApp.Models
@model DemoApp.Models.ViewModels.PropertyRendererModel
@{
    //var items = DataFactory.GetEnumValues(Model.Prop);
    var kodeliste = DataFactory.GetKodeliste(Model.Prop); 
    <span class="ledetekst">@Model.GetCaption()</span>
    <select class="dropdown">
        @foreach (var kode in kodeliste.koder)
        {
            <option value="@kode.verdi">@kode.tekst</option>
        }
    </select>
}
